<h1> The Following are the Available TV Shows</h1>

<div class="row">
  <% @products.each_slice(3) do |three_products| %>
    <div class="row">
        <% three_products.each do |product| %>
          <div class="col-md-4">
            <h2><%= link_to product.name, "/tv_shows/#{product.id}" %></h2>
            <img src="<%= product.image %>" class="img-responsive">
            <h2>Show Genre: <%= product.show_genre %></h2>
            <h2>Production Year: <%= product.production_year %></h2>
            <h2>Production Company: <%= product.production_film_company %></h2>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
